{
  "openapi": "3.1.0",
  "info": {
    "title": "Send & Retain API",
    "version": "1.1.0",
    "description": "Send transactional and marketing email, sync contacts, and emit events that drive automations. One recipient per send — there are no bulk campaigns. Authenticate with a per-project API key (`aem_…`).\n\n**Every response** — success or error — carries `X-Request-Id`. It echoes your own `X-Request-Id` when you send a sane one (letters, digits, `.`, `_`, `-`, up to 128 chars) and is otherwise generated. Errors repeat it in the body as `request_id`, so pasting the JSON into a support request is enough to find the call.\n\n**Errors** are always `{ error: { code, message } }`. `code` is a stable identifier to branch on; `message` is human-readable and safe to log but not to branch on. The HTTP status is derived from `code`, never inferred from the message.\n\n**Rate limits.** Every response carries `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset` (seconds until the window refills) and `RateLimit-Policy`; a 429 adds `Retry-After` and `retry_after_ms`. Treat these as a best-effort backstop against runaway loops, not a quota: the limiter is per-instance, so the effective ceiling across a horizontally-scaled deployment is higher than the advertised number and is not currently enforced globally.\n\n**The send path is not on the per-key limiter.** `POST /emails`, `POST /emails/batch`, `PATCH` / `DELETE /emails/{id}` and `POST /events` carry no `RateLimit-*` headers: they are governed by the project's sending caps (`429` with code `daily_cap` / `monthly_cap` — a quota, not a throttle; branch on the code) and a per-provider throttle that queues rather than refuses.\n\n**Idempotency.** Every create — sends included — takes an `Idempotency-Key` header (1–256 chars, kept 24 hours). The same key and body replays the first success with `Idempotency-Replay: true`; the same key with a different body, or while the first request is still running, is `409 conflict`.\n\n**Lists** answer `{ object: \"list\", data, has_more, next_cursor }`. Pass `next_cursor` back as `?cursor=` until `has_more` is false. `?before=` still works where it existed and is deprecated.\n\n**Webhooks.** The events we POST to your endpoints are documented under `webhooks`, one schema per event type, discriminated on `type`.",
    "x-operation-digest": "9cc8aa0e6b29",
    "x-content-digest": "3c9ac6e3304a",
    "x-generated-from": "lib/openapi/registry.ts"
  },
  "servers": [
    {
      "url": "https://sendandretain.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Emails",
      "description": "Send email, list sent messages, and read a message's status + event timeline."
    },
    {
      "name": "Contacts",
      "description": "Upsert, list, read, and delete the people you send to."
    },
    {
      "name": "Events",
      "description": "Emit events that trigger automations."
    },
    {
      "name": "Suppressions",
      "description": "Read and manage the do-not-send list."
    },
    {
      "name": "Templates",
      "description": "Author, render, test and publish react.email templates. Published versions are immutable — every edit creates a new draft."
    },
    {
      "name": "Automations",
      "description": "Create and edit event-triggered automations. Automations are always created paused; enabling one is a separate call."
    },
    {
      "name": "Audience",
      "description": "Segments — who gets grouped for a send."
    },
    {
      "name": "Setup",
      "description": "Sending infrastructure: domains, senders, provider webhooks. Requires an `admin`-scope key. Provider API keys are never settable here."
    },
    {
      "name": "Webhooks",
      "description": "Deliver email events to your own HTTPS endpoints, so you don't have to poll. Signed with the [Standard Webhooks](https://www.standardwebhooks.com) scheme — `webhook-id`, `webhook-timestamp`, `webhook-signature` — which any off-the-shelf verifier understands. Delivery is at-least-once and unordered: dedupe on `webhook-id`, order on `occurred_at`. Requires an `admin`-scope key."
    },
    {
      "name": "Metrics",
      "description": "Delivery funnel, daily trends, and worker-queue health."
    },
    {
      "name": "Settings",
      "description": "Project guardrails (kill switch, daily cap) and the company brand kit."
    }
  ],
  "webhooks": {
    "email.sent": {
      "post": {
        "operationId": "webhook_email_sent",
        "summary": "email.sent",
        "description": "The provider accepted the message.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailSent"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.delivered": {
      "post": {
        "operationId": "webhook_email_delivered",
        "summary": "email.delivered",
        "description": "The recipient's mail server accepted the message.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailDelivered"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.delivery_delayed": {
      "post": {
        "operationId": "webhook_email_delivery_delayed",
        "summary": "email.delivery_delayed",
        "description": "Delivery is being retried by the provider.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailDeliveryDelayed"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.bounced": {
      "post": {
        "operationId": "webhook_email_bounced",
        "summary": "email.bounced",
        "description": "The message bounced. Hard bounces suppress the address automatically.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailBounced"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.complained": {
      "post": {
        "operationId": "webhook_email_complained",
        "summary": "email.complained",
        "description": "The recipient marked the message as spam. The address is suppressed permanently.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailComplained"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.opened": {
      "post": {
        "operationId": "webhook_email_opened",
        "summary": "email.opened",
        "description": "The recipient opened the message (requires open tracking).\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailOpened"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.clicked": {
      "post": {
        "operationId": "webhook_email_clicked",
        "summary": "email.clicked",
        "description": "The recipient clicked a tracked link (requires click tracking).\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailClicked"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.unsubscribed": {
      "post": {
        "operationId": "webhook_email_unsubscribed",
        "summary": "email.unsubscribed",
        "description": "The recipient unsubscribed.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailUnsubscribed"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.suppressed": {
      "post": {
        "operationId": "webhook_email_suppressed",
        "summary": "email.suppressed",
        "description": "The send was refused because the address is suppressed.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailSuppressed"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.failed": {
      "post": {
        "operationId": "webhook_email_failed",
        "summary": "email.failed",
        "description": "The send failed permanently after retries.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailFailed"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "email.canceled": {
      "post": {
        "operationId": "webhook_email_canceled",
        "summary": "email.canceled",
        "description": "A scheduled send was canceled.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventEmailCanceled"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    },
    "webhook.test": {
      "post": {
        "operationId": "webhook_webhook_test",
        "summary": "webhook.test",
        "description": "Sent by `POST /api/v1/webhooks/{id}/test`. Carries no message.\n\nSigned with [Standard Webhooks](https://www.standardwebhooks.com). At-least-once and unordered. Payloads are at most 64 KB. Answer any 2xx within 10 seconds; anything else is retried on the published curve.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "description": "The delivery id. Identical across retries — dedupe on it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix seconds. Reject anything more than 5 minutes from now (replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated `v1,<base64 HMAC-SHA256>` signatures of `{webhook-id}.{webhook-timestamp}.{raw body}`, keyed with the base64 part of your `whsec_` secret. Two appear during a secret rotation's grace window; accept either. Verify against the RAW body, before parsing.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEventWebhookTest"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Accepted. Any 2xx stops retries."
          }
        }
      }
    }
  },
  "components": {
    "headers": {
      "X-Request-Id": {
        "description": "Unique id for this request — echoes yours when you send a valid one (`[A-Za-z0-9._-]{1,128}`). Errors repeat it in the body as `request_id`; quote it in a support request.",
        "schema": {
          "type": "string"
        }
      },
      "RateLimit-Limit": {
        "description": "Requests allowed per window for this key and bucket.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Remaining": {
        "description": "Requests left in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Reset": {
        "description": "Seconds until the window refills.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Policy": {
        "description": "The window, e.g. `120;w=60`.",
        "schema": {
          "type": "string"
        }
      },
      "Retry-After": {
        "description": "Seconds to wait before retrying.",
        "schema": {
          "type": "integer"
        }
      },
      "Idempotency-Replay": {
        "description": "`true` when this response replays the result of an earlier request with the same `Idempotency-Key`. No new work was done.",
        "schema": {
          "type": "string",
          "enum": [
            "true"
          ]
        }
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Makes a retry safe (1–256 chars, kept 24 hours). The same key with the same body replays the first success with `Idempotency-Replay: true`; the same key with a different body, or while the first request is still running, is `409 conflict`. A failed request releases its key. Use a value tied to the thing you are creating, e.g. `onboarding/user_42`.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque — pass the previous page's `next_cursor` to fetch the next page. A malformed cursor is refused, never treated as page one.",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key from the dashboard under Settings → API keys, sent as `Authorization: Bearer aem_…`.\n\nAuthorization has two independent axes.\n\nThe **scope** is ranked — a key satisfies any requirement at or below its own tier:\n\n- **`read`** — see messages, contacts and metrics. Changes nothing, and cannot send.\n- **`write`** — everything `read` does, plus managing templates, contacts, automations, segments and suppressions. This is what editing a template needs.\n- **`admin`** — everything `write` does, plus sending *configuration*: domains, senders, webhook registration, kill switch, daily cap, brand.\n\nThere is no `approve` scope. It was a rung once; it is not one now, and a key requested with it is rejected.\n\nThe **approval grant** (`can_approve`) is a separate boolean, not a rung. Delivering mail to a real inbox needs `write` **and** the grant. Keeping them on separate axes is what makes the review gate a control rather than a convention: a key that may propose is not automatically a key that may approve its own proposal.\n\nGive your application the lowest tier that works. Most need `write` **and** the grant — the dashboard mints that combination as **Send + manage**; **Manage only** is the same rung with the grant withheld."
      }
    },
    "schemas": {
      "UpdateAutomation___schema0": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "and",
              "or"
            ]
          },
          "conditions": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "minLength": 1,
                      "description": "contact.attributes.<key>, contact.engagement.<key>, contact.subscriptionStatus, or event.properties.<key> (bare = event property). Engagement fields: emailsReceived, emailsSinceEngaged, daysSinceEngaged, openCount, clickCount, openRate, clickRate, lastOpenedAt, lastClickedAt."
                    },
                    "op": {
                      "default": "eq",
                      "type": "string",
                      "enum": [
                        "eq",
                        "neq",
                        "exists",
                        "not_exists",
                        "in",
                        "gt",
                        "lt",
                        "contains",
                        "within_days",
                        "older_than_days"
                      ]
                    },
                    "value": {}
                  },
                  "required": [
                    "path"
                  ]
                },
                {
                  "$ref": "#/components/schemas/UpdateAutomation___schema0"
                }
              ]
            }
          }
        },
        "required": [
          "op",
          "conditions"
        ]
      },
      "UpdateStep___schema0": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "and",
              "or"
            ]
          },
          "conditions": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "minLength": 1,
                      "description": "contact.attributes.<key>, contact.engagement.<key>, contact.subscriptionStatus, or event.properties.<key> (bare = event property). Engagement fields: emailsReceived, emailsSinceEngaged, daysSinceEngaged, openCount, clickCount, openRate, clickRate, lastOpenedAt, lastClickedAt."
                    },
                    "op": {
                      "default": "eq",
                      "type": "string",
                      "enum": [
                        "eq",
                        "neq",
                        "exists",
                        "not_exists",
                        "in",
                        "gt",
                        "lt",
                        "contains",
                        "within_days",
                        "older_than_days"
                      ]
                    },
                    "value": {}
                  },
                  "required": [
                    "path"
                  ]
                },
                {
                  "$ref": "#/components/schemas/UpdateStep___schema0"
                }
              ]
            }
          }
        },
        "required": [
          "op",
          "conditions"
        ]
      },
      "CreateAutomation___schema0": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "and",
              "or"
            ]
          },
          "conditions": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "minLength": 1,
                      "description": "contact.attributes.<key>, contact.engagement.<key>, contact.subscriptionStatus, or event.properties.<key> (bare = event property). Engagement fields: emailsReceived, emailsSinceEngaged, daysSinceEngaged, openCount, clickCount, openRate, clickRate, lastOpenedAt, lastClickedAt."
                    },
                    "op": {
                      "default": "eq",
                      "type": "string",
                      "enum": [
                        "eq",
                        "neq",
                        "exists",
                        "not_exists",
                        "in",
                        "gt",
                        "lt",
                        "contains",
                        "within_days",
                        "older_than_days"
                      ]
                    },
                    "value": {}
                  },
                  "required": [
                    "path"
                  ]
                },
                {
                  "$ref": "#/components/schemas/CreateAutomation___schema0"
                }
              ]
            }
          }
        },
        "required": [
          "op",
          "conditions"
        ]
      },
      "CreateAutomation___schema1": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "send"
              },
              "templateSlug": {
                "type": "string",
                "minLength": 1
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "propsOverrides": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {}
              },
              "subject": {
                "type": "string",
                "minLength": 1,
                "maxLength": 300
              },
              "previewText": {
                "type": "string",
                "minLength": 1,
                "maxLength": 300
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "type",
              "templateSlug",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "delay"
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 60,
                "maximum": 9007199254740991,
                "description": "How long to wait before continuing, in seconds (min 60s). Weekly = 604800."
              }
            },
            "required": [
              "type",
              "delaySeconds"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "wait_for_event"
              },
              "eventName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120,
                "description": "contact_event name that resumes the run."
              },
              "timeoutSeconds": {
                "type": "integer",
                "minimum": 60,
                "maximum": 7776000,
                "description": "Give up waiting after this many seconds (60s .. 90d) and continue."
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "type",
              "eventName",
              "timeoutSeconds",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "set_attribute"
              },
              "attributes": {
                "description": "Attributes to shallow-merge onto the contact.",
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {}
              },
              "addTags": {
                "description": "Tags to add — segments filtering on contact.tags follow automatically.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 60
                }
              },
              "removeTags": {
                "description": "Tags to remove.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 60
                }
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "type",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "webhook"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Public HTTPS endpoint to POST to."
              },
              "method": {
                "default": "POST",
                "type": "string",
                "enum": [
                  "POST",
                  "PUT"
                ]
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "type",
              "url",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "exit"
              },
              "label": {
                "description": "Shown on the canvas and in exit counts.",
                "type": "string",
                "maxLength": 60
              },
              "delaySeconds": {
                "default": 0,
                "description": "Exits are immediate — put the wait on the step before.",
                "type": "integer",
                "minimum": 0,
                "maximum": 0
              }
            },
            "required": [
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "unsubscribe"
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              }
            },
            "required": [
              "type",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "branch"
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              },
              "filter": {
                "description": "Evaluated against contact attributes ⊕ the trigger event.",
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string",
                          "minLength": 1,
                          "description": "contact.attributes.<key>, contact.engagement.<key>, contact.subscriptionStatus, or event.properties.<key> (bare = event property). Engagement fields: emailsReceived, emailsSinceEngaged, daysSinceEngaged, openCount, clickCount, openRate, clickRate, lastOpenedAt, lastClickedAt."
                        },
                        "op": {
                          "default": "eq",
                          "type": "string",
                          "enum": [
                            "eq",
                            "neq",
                            "exists",
                            "not_exists",
                            "in",
                            "gt",
                            "lt",
                            "contains",
                            "within_days",
                            "older_than_days"
                          ]
                        },
                        "value": {}
                      },
                      "required": [
                        "path"
                      ]
                    }
                  },
                  {
                    "$ref": "#/components/schemas/CreateAutomation___schema0"
                  }
                ]
              },
              "yes": {
                "description": "Steps for contacts matching the filter.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateAutomation___schema1"
                }
              },
              "no": {
                "description": "Steps for everyone else.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateAutomation___schema1"
                }
              },
              "branches": {
                "description": "Ordered arms — the first matching filter wins.",
                "minItems": 1,
                "maxItems": 8,
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "pattern": "^[a-z0-9][a-z0-9_-]{0,39}$"
                    },
                    "label": {
                      "type": "string",
                      "maxLength": 60
                    },
                    "filter": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "string",
                                "minLength": 1,
                                "description": "contact.attributes.<key>, contact.engagement.<key>, contact.subscriptionStatus, or event.properties.<key> (bare = event property). Engagement fields: emailsReceived, emailsSinceEngaged, daysSinceEngaged, openCount, clickCount, openRate, clickRate, lastOpenedAt, lastClickedAt."
                              },
                              "op": {
                                "default": "eq",
                                "type": "string",
                                "enum": [
                                  "eq",
                                  "neq",
                                  "exists",
                                  "not_exists",
                                  "in",
                                  "gt",
                                  "lt",
                                  "contains",
                                  "within_days",
                                  "older_than_days"
                                ]
                              },
                              "value": {}
                            },
                            "required": [
                              "path"
                            ]
                          }
                        },
                        {
                          "$ref": "#/components/schemas/CreateAutomation___schema0"
                        }
                      ]
                    },
                    "steps": {
                      "maxItems": 50,
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreateAutomation___schema1"
                      }
                    }
                  },
                  "required": [
                    "key",
                    "filter"
                  ]
                }
              },
              "elseSteps": {
                "description": "Steps for contacts matching no arm.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateAutomation___schema1"
                }
              },
              "ifMatch": {
                "type": "string",
                "enum": [
                  "continue",
                  "exit"
                ]
              },
              "ifNoMatch": {
                "type": "string",
                "enum": [
                  "continue",
                  "exit"
                ]
              }
            },
            "required": [
              "type",
              "delaySeconds"
            ]
          }
        ]
      },
      "AddAutomationSteps___schema0": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "send"
              },
              "templateSlug": {
                "type": "string",
                "minLength": 1
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "propsOverrides": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {}
              },
              "subject": {
                "type": "string",
                "minLength": 1,
                "maxLength": 300
              },
              "previewText": {
                "type": "string",
                "minLength": 1,
                "maxLength": 300
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "type",
              "templateSlug",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "delay"
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 60,
                "maximum": 9007199254740991,
                "description": "How long to wait before continuing, in seconds (min 60s). Weekly = 604800."
              }
            },
            "required": [
              "type",
              "delaySeconds"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "wait_for_event"
              },
              "eventName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120,
                "description": "contact_event name that resumes the run."
              },
              "timeoutSeconds": {
                "type": "integer",
                "minimum": 60,
                "maximum": 7776000,
                "description": "Give up waiting after this many seconds (60s .. 90d) and continue."
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "type",
              "eventName",
              "timeoutSeconds",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "set_attribute"
              },
              "attributes": {
                "description": "Attributes to shallow-merge onto the contact.",
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {}
              },
              "addTags": {
                "description": "Tags to add — segments filtering on contact.tags follow automatically.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 60
                }
              },
              "removeTags": {
                "description": "Tags to remove.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 60
                }
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "type",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "webhook"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Public HTTPS endpoint to POST to."
              },
              "method": {
                "default": "POST",
                "type": "string",
                "enum": [
                  "POST",
                  "PUT"
                ]
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "type",
              "url",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "exit"
              },
              "label": {
                "description": "Shown on the canvas and in exit counts.",
                "type": "string",
                "maxLength": 60
              },
              "delaySeconds": {
                "default": 0,
                "description": "Exits are immediate — put the wait on the step before.",
                "type": "integer",
                "minimum": 0,
                "maximum": 0
              }
            },
            "required": [
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "unsubscribe"
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              }
            },
            "required": [
              "type",
              "delaySeconds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "const": "branch"
              },
              "delaySeconds": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "description": "Delay before this step runs (0 = immediate). Weekly = 604800."
              },
              "sendWindow": {
                "description": "Quiet-hours clamp; contact.attributes.timezone wins over this timezone.",
                "type": "object",
                "properties": {
                  "days": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 7
                    }
                  },
                  "startHour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23
                  },
                  "endHour": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24
                  },
                  "timezone": {
                    "type": "string"
                  }
                }
              },
              "filter": {
                "description": "Evaluated against contact attributes ⊕ the trigger event.",
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string",
                          "minLength": 1,
                          "description": "contact.attributes.<key>, contact.engagement.<key>, contact.subscriptionStatus, or event.properties.<key> (bare = event property). Engagement fields: emailsReceived, emailsSinceEngaged, daysSinceEngaged, openCount, clickCount, openRate, clickRate, lastOpenedAt, lastClickedAt."
                        },
                        "op": {
                          "default": "eq",
                          "type": "string",
                          "enum": [
                            "eq",
                            "neq",
                            "exists",
                            "not_exists",
                            "in",
                            "gt",
                            "lt",
                            "contains",
                            "within_days",
                            "older_than_days"
                          ]
                        },
                        "value": {}
                      },
                      "required": [
                        "path"
                      ]
                    }
                  },
                  {
                    "$ref": "#/components/schemas/AddAutomationSteps___schema1"
                  }
                ]
              },
              "yes": {
                "description": "Steps for contacts matching the filter.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddAutomationSteps___schema0"
                }
              },
              "no": {
                "description": "Steps for everyone else.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddAutomationSteps___schema0"
                }
              },
              "branches": {
                "description": "Ordered arms — the first matching filter wins.",
                "minItems": 1,
                "maxItems": 8,
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "pattern": "^[a-z0-9][a-z0-9_-]{0,39}$"
                    },
                    "label": {
                      "type": "string",
                      "maxLength": 60
                    },
                    "filter": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "string",
                                "minLength": 1,
                                "description": "contact.attributes.<key>, contact.engagement.<key>, contact.subscriptionStatus, or event.properties.<key> (bare = event property). Engagement fields: emailsReceived, emailsSinceEngaged, daysSinceEngaged, openCount, clickCount, openRate, clickRate, lastOpenedAt, lastClickedAt."
                              },
                              "op": {
                                "default": "eq",
                                "type": "string",
                                "enum": [
                                  "eq",
                                  "neq",
                                  "exists",
                                  "not_exists",
                                  "in",
                                  "gt",
                                  "lt",
                                  "contains",
                                  "within_days",
                                  "older_than_days"
                                ]
                              },
                              "value": {}
                            },
                            "required": [
                              "path"
                            ]
                          }
                        },
                        {
                          "$ref": "#/components/schemas/AddAutomationSteps___schema1"
                        }
                      ]
                    },
                    "steps": {
                      "maxItems": 50,
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AddAutomationSteps___schema0"
                      }
                    }
                  },
                  "required": [
                    "key",
                    "filter"
                  ]
                }
              },
              "elseSteps": {
                "description": "Steps for contacts matching no arm.",
                "maxItems": 50,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddAutomationSteps___schema0"
                }
              },
              "ifMatch": {
                "type": "string",
                "enum": [
                  "continue",
                  "exit"
                ]
              },
              "ifNoMatch": {
                "type": "string",
                "enum": [
                  "continue",
                  "exit"
                ]
              }
            },
            "required": [
              "type",
              "delaySeconds"
            ]
          }
        ]
      },
      "AddAutomationSteps___schema1": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "and",
              "or"
            ]
          },
          "conditions": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "minLength": 1,
                      "description": "contact.attributes.<key>, contact.engagement.<key>, contact.subscriptionStatus, or event.properties.<key> (bare = event property). Engagement fields: emailsReceived, emailsSinceEngaged, daysSinceEngaged, openCount, clickCount, openRate, clickRate, lastOpenedAt, lastClickedAt."
                    },
                    "op": {
                      "default": "eq",
                      "type": "string",
                      "enum": [
                        "eq",
                        "neq",
                        "exists",
                        "not_exists",
                        "in",
                        "gt",
                        "lt",
                        "contains",
                        "within_days",
                        "older_than_days"
                      ]
                    },
                    "value": {}
                  },
                  "required": [
                    "path"
                  ]
                },
                {
                  "$ref": "#/components/schemas/AddAutomationSteps___schema1"
                }
              ]
            }
          }
        },
        "required": [
          "op",
          "conditions"
        ]
      },
      "ListEnvelope": {
        "type": "object",
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Every list answers this shape. Keep requesting with `?cursor=<next_cursor>` until `has_more` is false.",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {}
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "WebhookMessage": {
        "type": "object",
        "description": "The message the event is about.",
        "required": [
          "id",
          "to",
          "from",
          "status",
          "source",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "template": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "required": [
                "name",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "source": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "WebhookEventEmailSent": {
        "type": "object",
        "description": "The provider accepted the message.",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.sent"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {}
              }
            }
          }
        }
      },
      "WebhookEventEmailDelivered": {
        "type": "object",
        "description": "The recipient's mail server accepted the message.",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.delivered"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {}
              }
            }
          }
        }
      },
      "WebhookEventEmailDeliveryDelayed": {
        "type": "object",
        "description": "Delivery is being retried by the provider.",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.delivery_delayed"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {
                  "reason": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "WebhookEventEmailBounced": {
        "type": "object",
        "description": "The message bounced. Hard bounces suppress the address automatically.",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.bounced"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {
                  "type": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  },
                  "sub_type": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  },
                  "diagnostic": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "WebhookEventEmailComplained": {
        "type": "object",
        "description": "The recipient marked the message as spam. The address is suppressed permanently.",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.complained"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {
                  "feedback_type": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "WebhookEventEmailOpened": {
        "type": "object",
        "description": "The recipient opened the message (requires open tracking).",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.opened"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {
                  "user_agent": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  },
                  "ip": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "WebhookEventEmailClicked": {
        "type": "object",
        "description": "The recipient clicked a tracked link (requires click tracking).",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.clicked"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {
                  "link": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  },
                  "user_agent": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  },
                  "ip": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "WebhookEventEmailUnsubscribed": {
        "type": "object",
        "description": "The recipient unsubscribed.",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.unsubscribed"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {
                  "scope": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "WebhookEventEmailSuppressed": {
        "type": "object",
        "description": "The send was refused because the address is suppressed.",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.suppressed"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {
                  "reason": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "WebhookEventEmailFailed": {
        "type": "object",
        "description": "The send failed permanently after retries.",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.failed"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it happened. Order on this, never on arrival."
          },
          "data": {
            "type": "object",
            "required": [
              "event_id",
              "message",
              "detail"
            ],
            "properties": {
              "event_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebhookMessage"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "detail": {
                "type": "object",
                "description": "Provider detail, normalised. Fields are present only when the provider reported them.",
                "properties": {
                  "reason": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  },
                  "attempts": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "WebhookEventEmailCanceled": {
        "type": "object",
        "description": "A scheduled send was canceled.",
        "required": [
          "id",
          "type",
          "version",
          "created_at",
          "occurred_at",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The delivery id — also sent as `webhook-id`. Dedupe on it."
          },
          "type": {
            "type": "string",
            "enum": [
              "email.canceled"
            ]
          },
          "version": {
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When we queued it."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
[...]
